<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<%- include('../includes/header') %>

<body id="page-top">
    <div id="wrapper">
        <%- include('../includes/sidebar') %>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('../includes/navbar') %>

                
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Document</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Upload Document</p>
                        </div>
                       
                        <div id="flash-messages"></div>
                          
                        <form id="uploadForm" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 text-nowrap">
                                    <div class="form-group"><label class="form-label">
                                        <strong>Division&nbsp;&nbsp;</strong>
                                        <select class="d-inline-block form-select form-select-sm" id="branch">
                                            <option selected value="">Choose Branch</option>
                                            <optgroup label="Branch">
                                                <% branches.forEach((branch, index) => { %>
                                                <option  value="<%= branch.id %>" ><%= branch.branch_name %></option>
                                                <% }) %>
                                            </optgroup>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 text-nowrap">
                                    <div class="form-group"><label class="form-label">
                                        <strong>Department&nbsp;&nbsp;</strong>
                                        <select id="department"  class="d-inline-block form-select form-select-sm" 
                                         style="width: auto;">
                                            <option selected value="">Choose Department</option>
                                            <optgroup label="Departments">
                                               
                                            </optgroup>
                                        </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 text-nowrap">
                                    <div class="form-group"><label class="form-label">
                                        <strong>Sub-Department&nbsp;&nbsp;</strong>
                                        <select class="d-inline-block form-select form-select-sm"
                                         id="sub-department" name="subDepartmentId"
                                            style="width: auto;">
                                            <option selected value="">Choose Sub-Department</option>
                                            <optgroup>
                                               
                                            </optgroup>
                                            </select>
                                        </label>
                                        </div>
                                </div>
                            </div>
                                <div class="row">
            
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="document">File Upload</label>
                                            <input class="form-control" type="file" name="bulkUploadFile" /></div>
                                    </div>
                                </div>
                                
                    
                               
                                <div class="submit-btn-div" style="margin-top: 20px;">
                                    <button class="btn btn-primary submit-btn" type="submit">Upload</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('../includes/footer') %>

        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i></a>
    </div>
    <%- include('../includes/script') %>
    <script>
        let userRole = '<%= user.role %>'
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const departmentSelect = document.getElementById('department');
        const subDepartmentSelect = document.getElementById('sub-department');

        // Event listener for department selection
        let optGroup = document.getElementById('editOptGroup');
    
                    if(!optGroup) optGroup = ''
    
                    departmentSelect.addEventListener('change', async(event) => {
                        const userRole = "<%= user.role %>"
                   
                        optGroup.innerHTML = ""
                        const departmentId = event.target.value;
                   
                        let url = `/${userRole === 'super-admin' ? 'super' : 'admin'}/sub-departments/getsubdepartment/${departmentId}`;
    
                        if(userRole === 'user')
                            url = `/users/sd`;
    
                        const response = await fetch(url);
                        const subDepartments = await response.json();
                        console.log(subDepartments)
                    // Clear the current department options
                    subDepartmentSelect.innerHTML = '';
                    subDepartmentSelect.innerHTML = '<option selected>Choose Sub-Department</option>';
                    subDepartments.forEach(subdepartment => {
                        
                        const option = document.createElement('option');
                        option.value = subdepartment.id;
                        option.textContent = subdepartment.sub_department_name;
                        subDepartmentSelect.appendChild(option);
                    });
                    });
    
    
    });
    
    </script>
    <script src="/js/fetch_departments.js"></script>
    
    
    <script>
        $(document).ready(function() {
            $('#uploadForm').on('submit', function(e) {
                e.preventDefault();
        
                var formData = new FormData(this);
                let url = `/<%= user.role === 'super-admin' ? 'super' : 'admin' %>/documents/bulk-upload`
                if('<%= user.role %>' === 'user')
                    url = '/users/documents/bulk-upload'
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    contentType: false, // Tell jQuery not to set contentType
                    processData: false, // Tell jQuery not to process the data
                    success: function(response) {
                        $('#flash-messages').html('<div class="alert alert-success">' 
                            + response.message 
                            + '<br/>'
                            + 'Files not uploaded are :' + response.notUploaded
                            + '</div>');
                        // setTimeout(function() {
                        //     window.location.href = '/super/documents/upload-document'; // Replace with your success page URL
                        // }, 2000);
                    },
                    error: function(xhr) {
                        console.log(xhr)
                        var error = xhr.responseJSON.message || 'An error occurred';
                        $('#flash-messages').html('<div class="alert alert-danger">' + error + '</div>');
                    }
                });
            });
        });
        </script>

</body>

</html>